# API checkpoint

### definition 
Application programmable interface which is way to programmely communicate with a software like an os (eg the windows api ) or a web server like the example in this notebook

In [1]:
import requests as rq
res = rq.get('http://api.open-notify.org/astros.json')

In [2]:
res.status_code

200

In [4]:
res.headers

{'Server': 'nginx/1.10.3', 'Date': 'Sun, 26 Feb 2023 19:06:10 GMT', 'Content-Type': 'application/json', 'Content-Length': '492', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [6]:
#the structure of the jason body of the response 
res.json()

{'message': 'success',
 'people': [{'name': 'Sergey Prokopyev', 'craft': 'ISS'},
  {'name': 'Dmitry Petelin', 'craft': 'ISS'},
  {'name': 'Frank Rubio', 'craft': 'ISS'},
  {'name': 'Nicole Mann', 'craft': 'ISS'},
  {'name': 'Josh Cassada', 'craft': 'ISS'},
  {'name': 'Koichi Wakata', 'craft': 'ISS'},
  {'name': 'Anna Kikina', 'craft': 'ISS'},
  {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'},
  {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'},
  {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}],
 'number': 10}

In [19]:
# creating a pandas data frame
import pandas as pd
df = pd.DataFrame(columns=['name','craft'])
for i in range(int(res.json()['number'])):
    df.loc[i]=[res.json()['people'][i]['name'],res.json()['people'][i]['craft']]
df

               name        craft
0  Sergey Prokopyev          ISS
1    Dmitry Petelin          ISS
2       Frank Rubio          ISS
3       Nicole Mann          ISS
4      Josh Cassada          ISS
5     Koichi Wakata          ISS
6       Anna Kikina          ISS
7       Fei Junlong  Shenzhou 15
8     Deng Qingming  Shenzhou 15
9          Zhang Lu  Shenzhou 15